.navBarContainer {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 50px;
  background: black;
  color: white;
}

.navBarul {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  list-style: none;
}

.navBarul li {
  cursor: pointer;
}

.navBarul a {
  color: white;
  text-decoration: none;
}
